
body {
  background-color: beige;
  color: black;
  font-family: Verdana;
  }

html, body {
  cursor: none;

  a, button, [role="button"], input[type="submit"] {
    cursor: none !important;
  }
 
}